.referee-busy {
    &__warning{
        font-size: 1.1em;
        margin-bottom: 10px;
    }
    .wc-selected {
        max-width: 400px;

        .wc-badge {
            border: 1px solid #d2d2d2;
            display: block;
            float: left;
            border-radius: 10px;
            padding: 2px;
            margin: 0 10px 5px 0;
            box-shadow: 0 0 3px 0px #ccc;
            background-color: #f1f1f1;

            i {
                margin: 4px;
                cursor: pointer;
                color: #8f8f8f;
                
                &:hover {
                    color: #161616;
                }
            }
        }
    }
}