#referee-busy {
    table {
        border: 1px solid #ccc!important;
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
        border-spacing: 0;

        thead {
            background-color: #686868;
            color: #000;
        }

        tr {
            th, td {
                padding: 2px 4px!important;
                border: 1px solid #ccc!important;
            }
        }
    }
}