a#nom-auth-button{
    border: 1px solid #ccc;
    display: block;
    height: 30px;
    line-height: 30px;
    overflow: auto;
    padding: 0 8px;
    float: right;
    margin: 3px;
    background-color: #840000;
    color: #fff;
    font-family: Verdana;

    &:hover{
        background-color: #A70606; 
    }
}

div#nom-auth-form{
    text-align: center;
    p{
        font-size: 0.8em;
        font-family: Verdana;
    }
    form{
        border: 1px dashed #ccc;
        margin: auto;
        width: 240px;
        padding: 10px 0;
        background-color: #ffe3ba;

        label{
            color: #424242;
            font-size: 0.9em;
        }
        input[type=text],
        input[type=password]{
            border-radius: 4px;
        }
        button{
            background-color: #ccc;
            border: 1px solid #b1afaf;
            font-size: 0.9em;
            font-family: Verdana;
            color: #4c210f;
            cursor: pointer;
            &:hover{
                background-color: #d8d6d6;
            }
        }
    }
}

a#nom-out{
    border: 1px solid #ccc;
    display: block;
    height: 30px;
    line-height: 30px;
    overflow: auto;
    padding: 0 8px;
    float: right;
    margin: 3px;
    background-color: #07136d;
    color: #fff;
    font-family: Verdana;
    &:hover{
        background-color: #1124b1;
    }
}
span#nom-name{
    color: #fff;
    display: block;
    float: right;
    font-family: Verdana;
    line-height: 38px;
}

div#nom-mng{
    clear: both;

    a{
        display: block;
        float: left;
        background-color: #7d0303;
        color: #fff;
        text-decoration: none;
        font-family: Verdana;
        padding: 2px 5px;
        margin: 2px 0;
        
        &:hover{
            background-color: #c31717;
        }
    }
}