#content{
    width: 100%!important;
}
#nm-front{
    .grid{
        border-spacing: 0px;
        border-collapse: collapse;
        thead{
            tr{
                background-color: #ECE9DF;
                th{
                    font-family: Verdana, Geneva;
                    font-weight: normal;
                    font-size: 0.6em;
                    text-align: center;
                    padding: 2pt;
                    letter-spacing: 1pt;
                    background-color: #ECE9DF;
                    color: #000;
                    border: 1px solid #ccc;
                    text-shadow: 0 1px 2px #999;                   
                }
            }
        }
        tbody{
            tr{                     
                td{
                    font-family: Verdana, Geneva;
                    font-weight: normal;
                    font-size: 0.7em;                    
                    padding: 3px;
                    border: 1px solid #ccc;
                }
            }
        }
    }    
}

.blackout{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0,0,0,0.8);
    z-index: 10000;
    
    .spinner-wrap{
        position: absolute;
        top: 50%;
        left: 50%;    
        
        .fa-spin{
            color: #6c6fff;
        }        
    }
}