.blackout{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0,0,0,0.8);
    z-index: 10000;
    overflow: auto;
    
    .spinner-wrap{
        position: absolute;
        top: 50%;
        left: 50%;    
        
        .fa-spin{
            color: #6c6fff;
        }        
    }
}

.grid{
    border-spacing: 0px;
    border-collapse: collapse;
    sup {
        color: #9e2600;
        font-weight: 600;
        margin-left: 3px;
    }
    thead{
        tr{
            background-color: #FF9800;
            color: #fff;
            text-shadow: 1px 1px 5px #000;
            th{
                text-align: left;
                padding: 0 5px;
            }
        }
    }
    tbody{
        tr{

            &:nth-child(odd){
                background-color: #d8e8f5;
            }
            &:nth-child(even){
                background-color: #d4d4d4;
            }  
            &:hover{
                background-color: #91caf7;
                cursor: pointer;
            }                      
            td{
                padding: 3px;

                .edit{
                    color: #6b3e1d;
                }
                .delete{
                    color: #cc3227;
                }
                .cup-marker{
                    margin: 0 5px;
                    color: #000ba5;
                }
            }
        }
    }
}

.custom-modal{
    background-color: #ffffff;
    position: absolute;
    top: 30%;
    left: 50%;
    min-width: 500px;
    min-height: 200px;
    border-radius: 5px;
    padding: 4px 10px;
    margin-left: -250px;

    .custom-modal-header{
        text-align: right;
        padding-right: 5px;

        .fa-times{
            color: #9a9aaf;
            cursor: pointer;       
            
            &:hover{
                color: #68686f;
            }
        }
    }
    
    h6, h4{
        margin: 5px 0 10px 0px;
    }
    h4{
        font-size: 1.2em;
        color: #0849c5;
        margin-top: 0px;        
    }

    form{
        label{
            display: block;
            font-weight: 600;
        }
        input{
            width: 100%;
        }

        input[type=checkbox]{
            width: 16px;
        }

        button{
            color: #fff;
            background-color: #038ece;
            font-weight: 600;
            border-radius: 4px;
            border: 0px;
            padding: 5px 5px 7px;
            margin: 5px 0;
            cursor: pointer;

            &:hover{
                background-color: #03A9F4;
            }  
            
            &:disabled{
                opacity: 0.5;
                cursor: not-allowed;
                &:hover{
                    background-color: #038ece;
                }
            }
        }
    }
}

.invalid{
    color: red;
}

.dialog{
    position: absolute;
    top: 30%;
    left: 50%;
    min-width: 400px;
    background-color: #fff;
    margin-left: -200px;
    padding: 5px 10px;
    border-radius: 5px;

    .dialog-body{
        padding: 10px 0;
        font-size: 1.2em;
    }

    .dialog-header{
        .icons{
            text-align: right;

            .fa-times{
                color: #9a9aaf;
                cursor: pointer;

                &:hover{
                    color: #68686f;
                }
            }            
        }
    }

    .dialog-footer{
        text-align: right;
        padding-bottom: 5px;

        button{
            color: #fff;
            background-color: #038ece;
            font-weight: 600;
            border-radius: 4px;
            border: 0px;
            padding: 0px 3px 4px;
            margin: 3px 10px 0 0;
            cursor: pointer; 
            min-width:  50px;
            
            &.btn-danger{
                background-color: #ab3434;
                &:hover{
                    background-color: #e25252;
                }
            }
            &.btn-success{
                background-color: #2f693b;
                &:hover{
                    background-color: #459255;
                }
            }
        }
    }

    h4{
        font-size: 1.4em;
        margin: 0;
        color: #2e3fc5;        
    }
}

.control-panel{
    button{
        color: #fff;
        background-color: #038ece;
        font-weight: 600;
        border-radius: 4px;
        border: 0px;
        padding: 0px 3px 4px;
        margin: 3px 0;
        cursor: pointer;

        &:hover{
            background-color: #03A9F4;
        }
    }
}

.row-wrap{
    display: flex;
    flex-direction: row;
    .col-flex:nth-child(2){
        flex-grow: 2;
        padding-left: 20px;
    }
}